body {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 32px;
}

.calc-container {
    background-color:midnightblue;
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

.calc-screen {
    background-color: seagreen;
    height: 15%;
    width: 90%;
    margin-top: 1em;
    font-family: 'Handjet', sans-serif;
    color: bisque;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
    font-size: 42px;
}

.calc-buttons-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 88.5%;
    padding: 8px;
    background-color: rgba(34, 34, 131, 0.849);
}

.calc-buttons {
    display: flex;
    flex-wrap: wrap;
    height: 70%;
    max-width: 70%;
    gap: 6px;
}


button {
    background-color: blueviolet;
    padding: 20px;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 28px;
    margin: 0;
}

button:hover {
    cursor: pointer;
    background-color: rgb(147, 71, 218);
}

button.operator {
    background-color: darkmagenta;
}

button.operator:hover {
    background-color: rgb(168, 17, 168);
}

button.calc-clear {
    background-color: darkgreen;
    color: blanchedalmond;
    margin-bottom: 4px;
    align-self: flex-end;
}

button.calc-clear:hover {
    background-color: rgb(19, 124, 19);
}

button.equals {
    background-color: #C51D34;
}

button.equals:hover {
    background-color: #cc2c41;
}